---
layout: default
---
<article class="post-content">
  <header class="post-heading">
    <!-- You can use the 'category' as a headline -->
    <p class="post-heading__headline">{{ page.category }}</p>
    
    <h1 class="post-heading__title">{{ page.title }}</h1>
    
    <!-- Display post meta data -->
    <p class="post-heading__description">
      Published on {{ page.date | date: "%B %d, %Y" }} by {{ page.author }}.
    </p>

    {% if page.TLDR %}
      <blockquote class="quote">
        <p><strong>TL;DR:</strong> {{ page.TLDR }}</p>
      </blockquote>
    {% endif %}
  </header>

  {% if page.image %}
    <figure>
        <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
    </figure>
  {% endif %}

  <!-- This is where the main markdown content of your post will be rendered -->
  {{ content }}

</article>

<!-- Optional: Simple Previous/Next Post Navigation -->
<nav class="post-navigation">
  {% if page.previous.url %}
  <a href="{{ page.previous.url | relative_url }}" class="post-navigation-item">
    <!-- Previous post content -->
  </a>
  {% endif %}
  {% if page.next.url %}
  <a href="{{ page.next.url | relative_url }}" class="post-navigation-item post-navigation-item--next">
    <!-- Next post content -->
  </a>
  {% endif %}
</nav>