// scss/base/_reset.scss
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
}

// scss/base/_base.scss
html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: $font-family-body;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;

  // Theming with CSS variables
  @each $key, $value in $colors-light {
    --c-#{$key}: #{$value};
  }

  &[data-theme="dark"] {
    @each $key, $value in $colors-dark {
      --c-#{$key}: #{$value};
    }
  }

  background-color: var(--c-background);
  color: var(--c-foreground);
}